<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WDShare</title>
    
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div id="add">
        <div class="info">
            明天
        </div>
        <div class="plus glyphicon-plus"></div>
    </div>
    <ul id="todo">
        <li class="list" data-id="1">
            <div class="todo-list-container">
                <div class="block">
                    <div class="time">10分钟</div>
                    <div class="title">干什么</div>
                    <div class="content">今天</div>
                    <div class="info">windows编辑于今天</div>
                </div>
                <div class="tail"></div>
            </div>
        </li>

        <li class="list add-form current">
            <div class="todo-list-container">
                <div class="block">
                    <form class="form-inline">
                        <input type="text" id="demo_name" class="input-small" placeholder="Name">
                        <input type="text" id="demo_score" class="input-small" placeholder="Score">
                        <button type="button" id="add-submit"  class="btn">Add</button>
                    </form>
                </div>
                <div class="tail"></div>
            </div>
            </div>
        </li>
    
    </ul>

    <script type="text/backbone_template" id="todo_template">

            <div class="todo-list-container">
                <div class="block">
                    <div class="time">30分钟</div>
                    <div class="title">干什么</div>
                    <div class="content">
                        <%= name%>
                        得了
                        <%= score%>
                        等级为
                        <%= grade%>
                    </div>
                    <div class="info">mac编辑于今天</div>
                </div>
                <div class="tail"></div>
            </div>
        
    </script>

    <script src="./javascript/main.js"></script>
</body>
</html>